<td id="layout-menu">
    <div class="menu-category">{{ site.title }}</div>
    <div class="menu-item"><a href="/index.html" class="current">Home</a></div>
    <div class="menu-item"><a href="/pdf/cv.pdf">CV</a></div>
    <div class="menu-category">Reserach</div>
    <div class="menu-item"><a href="/papers.html">Papers</a></div>
    <div class="menu-category">Teaching</div>
    <!-- <div class="menu-item"><a href="/teaching/reinforcement_learning.html">Reinforcement Learning</a></div> -->
</td>
