
@font-face {
  font-family: 'georgia';
  src: url('/fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgia';
  src: url('/fonts/georgiab.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'georgia';
  src: url('/fonts/georgiai.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'monaco';
  src: url('/fonts/monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
